/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&family=Open+Sans&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Frijole&display=swap');

html, body {
	background-color: #F2F2F2;
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222222;
}

#header {
  margin-top: -50px;
  height: 50px;
  position: fixed;
  width: 100%;
  background-color:#21567B;
  box-shadow: 0px -12px 43px -6px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 0px -12px 43px -6px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 0px -12px 43px -6px rgba(0,0,0,0.75) inset;
}

#content {
  min-height: 100%;
  background-color: #222222;
}

#footer {
  margin-bottom: -50px;
  height: 50px;
  position: fixed; 
  background-color: #161616;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

#title {
	text-align: center;
	font-family: 'Lemonada', sans-serif;
	color: #F0F0F0;
	height: 100%;
	margin:-10px;
}

#brand {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #F0F0F0;
	background-color: black;
	margin: 0;
	padding-bottom: 0;
	height: 100%;
}

#description {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.reg-text {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.bold-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color:white;
}

.container {
	min-height:100%;
   	position:relative;
}

.body {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1em 2.5em 1em 2.5em;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*.hottub-btn-active {
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background-color:#f24537;
	border:1px solid #d02718;
	display: block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 2em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	margin-top: 0 auto;
	width: 100%;
	outline: none;
}*/

.hottub-btn {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border:1px solid #d02718;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1.2em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	margin-top: 0 auto;
	width: 33.3%;
	position: absolute;
	height: 3em;
	bottom: 0;
	left:0;
}

#hottub-btn:hover {
	background:linear-gradient(to bottom, #841f16 5%, #9e251a 100%);
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#hottub-btn:active {

}

.pool-btn {
	box-shadow:inset 0px 1px 0px 0px #1d93ed;
	background:linear-gradient(to bottom, #2c9ec7 5%, #19459c 100%);
	background-color:#2c9ec7;
	border:1px solid #0d526b;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1.2em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #1d3d75;
	width: 33.3%;
	height: 3em;
	position: absolute;
	bottom: 0;
	left:33.3%;
}

#pool-btn:hover {
	background:linear-gradient(to bottom, #185166 5%, #1f6984 100%);
	background-color:#19366F;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/*.pool-btn-active {
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background:linear-gradient(to bottom, #2c9ec7 5%, #19459c 100%);
	background-color:#2c9ec7;
	border:1px solid #0d526b;
	display: block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 2em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #1d3d75;
	width: 100%;
}*/

#pool-btn:active {
}

.saturation-index-btn {
	box-shadow:inset 0px 1px 0px 0px #39a122;
	background:linear-gradient(to bottom, #3aa822 5%, #286e16 100%);
	background-color:#3aa822;
	border:1px solid #34873e;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1.2em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #406344;
	width: 33.3%;
	position: absolute;
	bottom: 0;
	height: 3em;
	left:66.6%;
}

#saturation-index-btn:hover {
	background:linear-gradient(to bottom, #1c4c10 5%, #2a7018 100%);
	background-color:#154708;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/* Not currently in use
.saturation-index-btn-active {
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   background:linear-gradient(to bottom, #3aa822 5%, #286e16 100%);
	background-color:#3aa822;
	border:1px solid #34873e;
	display: block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 2em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #406344;
	width: 100%;
}*/

#saturation-index-btn:active {

}

#hottub-form {
	display: none;
}

#pool-form {
	display: none;
}

#saturation-form {
	display: none;
}

#forms {
	margin-top: 2em;
}

form {
	margin-top: 0 auto;
}

input {
	margin: 0.2em 0 0.5em 0;
}

.test-btn {
	box-shadow: 3px 4px 0px 0px #805e24;
	background:linear-gradient(to bottom, #e0e63c 5%, #e6a015 100%);
	background-color:#e0e63c;
	border-radius:5px;
	border:1px solid #947822;
	display:inline-block;
	cursor:pointer;
	color:#424242;
	font-family:Arial;
	font-size: 1em;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a6ab22;
}

.test-btn:hover {
	background:linear-gradient(to bottom, #e6a015 5%, #e0e63c 100%);
	background-color:#e6a015;
}

.test-btn:active {
	position:relative;
	top:1px;
}

#results {
	display: none;
	margin: 0 auto;
	/*margin-top: 8em;
	margin-bottom: 3em;*/
}
